* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

body {
  background: url("../images//Wave\(2\).svg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#login-container {
  margin: auto;
  margin-top: 150px;
  width: 55vw;
  height: 30vh;
}

.accForm {
  width: 55vw;
}

.card {
  padding: 20px;
  min-height: 40vh;
}
.createInputs {
  margin-top: 10px !important;
  width: 50vw !important;
}

#toDoHeader {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  background-color: #fafafad3;
}

.loginAnchor {
  color: rgb(107, 107, 241);
  text-decoration: none;
  margin-left: 13vh;
}

.userIcons {
  font-size: 1.4rem;
  padding: 7px;
}

#userOnline {
  margin-top: 15px;
  padding: 5px;
  color: rgb(50, 50, 56);
  float: left;
}

#user {
  color: rgb(50, 50, 56);
  margin-left: 5px;
  margin-top: 10px;
  float: left;
}

#userGrid {
  display: grid;
  float: right;
  grid-template-rows: 40px 10px;
  grid-template-columns: 45px 45px;
}
.addUserIcon {
  grid-row: 1/2;
  grid-column: 1/2;
  padding-right: 5px;
  color: rgb(50, 50, 56);
  text-decoration: none;
}
#logoutBtn {
  grid-row: 1/2;
  grid-column: 2/3;
  color: rgb(50, 50, 56);
  font-size: 1.5rem;
  padding: 7px;
  text-decoration: none;
}

#add {
  grid-row: 2/3;
  grid-column: 1/2;
  color: rgb(50, 50, 56);
  font-size: 11px;
  align-items: baseline;
  padding-right: 5px;
}

#logout {
  grid-row: 2/3;
  grid-column: 2/3;
  color: rgb(50, 50, 56);
  font-size: 11px;
  padding-right: 5px;
}

.margin-top {
  margin-top: 12px;
}

.MuiTableCell-root {
  padding: 12px !important;
}

#submitCreate {
  color: white;
  background-color: rgb(59, 148, 59);
  float: right;
  display: flex-end;
}

#loginBottom {
  margin-top: 19.2vh;
}

.nobull {
  list-style-type: none;
  padding-inline-start: 10px;
}

.toDoContainer {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  max-width: 70vw;
  max-height: 80vh;
}

.listItemText {
  padding: 5px !important;
  margin-left: 5px !important;
}

.btn-todoitem {
  font-size: 0.9rem !important;
  padding: 5px !important;
  margin-left: 6px !important;
  margin-top: 4px !important;
}

.orderBy:hover {
  cursor: pointer;
}

.arrow {
  font-size: 1.5rem;
}

.toDoItem {
  margin-left: 5px !important;
}

#standard-basic {
  width: 65vw !important;
}

.MuiInputBase-root {
  display: flex;
  float: left !important;
}

h3 {
  margin: 0;
}

h1 {
  margin: 0;
}

.bottomNavigator {
  padding: 7px;
  height: 30px;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  border-top: 0.1px rgb(185, 178, 178) solid;
  bottom: 0;
}

.paginationBtn {
  border: none;
  background-color: #ffffff;
  font-size: 1.5rem;
  float: right;
}

.paginationBtn:hover {
  cursor: pointer;
}

#submitBtn {
  color: white;
  background-color: rgb(59, 148, 59);
  float: right;
}

.form_container {
  max-width: 70vw;
  display: flex;
}
